@import url("https://fonts.googleapis.com/css?family=Exo+2|Cairo");
@import url("https://fonts.googleapis.com/css?family=Catamaran&display=swap");

/*
<<   General HTML   >>
                    */

html, body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

.small-font {
    font-size: 12px;
    color: #777777;
}

.inline {
    display: inline;
}

/*
<<     React.js     >>
                    */

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22.5px;
    margin-left: -387.5px;
    z-index: 1;
}

.player-info {
    position: absolute;
    width: 100%;
    top: 56px; /* Don't push the canvas down. */
    z-index: 2;
}

.show {
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    height: 0px;
}

.button {
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 8px;
    border-style: solid;
    background-color: Transparent;
    background-repeat: no-repeat;
    outline: none !important;
    width: 125px;
    height: 47px;
    color: #a0a0a0;
    animation-name: hide;
    transition-duration: 0.5s;
    border-color: #a0a0a0;
}

.button:hover {
    background-color: #a0a0a0;
    color: black;
}

.button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.input {
    color: #a0a0a0;
    font-family: "Cairo", sans-serif;
    border: none;
    border-bottom: 2px solid #a0a0a0;
    outline: none !important;
    width: 500px;
    height: 60px;
    font-size: 54px;
    animation-name: hide;
    transition-duration: 0.5s;
    margin-right: 3px;
}

input[type="text"], textarea {
    background-color: transparent;
}

.input:focus {
    border-bottom: 2px solid #606060;
    color: #606060;
}

.select {
    font-family: "Exo 2", sans-serif;
    padding: 4px 6px;
    border: 2px solid #a0a0a0;
    border-radius: 2px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border-color: #a0a0a0;
    color: #a0a0a0;
    outline: none !important;
    width: 150px;
    height: 45px;
    font-size: 20px;
    animation-name: hide;
    transition-duration: 0.5s;
    margin-right: 3px;
}

.select:focus {
    background-color: transparent;
}

.name-header {
    margin-top: 10px;
    margin-left: 10px;
}

.name-header h2 {
    color: #606060;
    display: inline;
}

.name-header span {
    color: #606060;
    margin-left: 10px;
}

.user-server-right {
    float: right;
    margin-right: 10px;
}

/* background: url('../../assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #24a5dc); */
.background {
    background: #ffffff;
    height: 100vh;
}

.footer {
    font-family: "Catamaran", sans-serif;
    text-align: center;
    background: #f8f9fa;
    padding-top: 10px;
    padding-bottom: 10px;
}

.loading-info {
    margin-top: 10px;
}

.mastery-panel {
    height: 100%;
    width: 100%;
}

.mastery-panel-lg {
    max-height: calc(85vh - 47px);
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

.leaderboard-panel-lg {
    max-height: calc(90vh);
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

.leaderboard-table {
    max-height: calc(90vh);
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

.champion-stats {
    position: absolute;
    width: 100%;
    top: 56px; /* Don't push the canvas down. */
    z-index: 3;
}

/*
<<  Bootstrap CSS  >>
                    */
